*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.container-all {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px; 
    left: 50px; 
    z-index: 2; 
    padding: 20px;
    border-radius: 8px;
}
form{
    display: flex;
    justify-content: center;
    margin: 20px;
}
form input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.442);
    border-radius: 80px 0 0 80px;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-size: 80px;
}
form button{
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 0 80px 80px 0;
    padding: 40px;
    color: rgb(0, 0, 0);
    font-size: 80px;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(255, 255, 255);
}
.container {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 30px;
    text-align: center;
}
.container h1 {
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(170, 137, 93);
}
.container h2{
    font-size: 200px;
    color: rgb(196, 229, 229);
}
.img-weather{
    width: 800px;
    height: 800px;
}
.butome{
    display: flex;
    gap: 1800px;
}
.img-weather{
    width: 600px;
    height: 600px;
}
.butome img {
    width: 300px;
    height: 300px;
    margin: 50px;
}
.weather-result p {
    font-size: 100px;
}
.humidity {
    display: flex;
    gap: 10px;
}
.wind-speed {
    display: flex;
    gap: 10px;
}
.butome p {
    font-size: 100px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.container-result{
    display: flex;
    gap: 20px;
}
.prayer-times{
    width: 35%;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 30px;
}
.prayer-times h1{
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(170, 137, 93);
    text-align: center;
}
.PrayerTime{
    display: flex;
    gap: 50%;
}
.PrayerTime h2{
    font-size: 70px;
    color: aliceblue;
    margin: 20px;
}
.PrayerTime p{
    font-size: 70px;
    color: rgb(167, 182, 197);
    margin: 20px;
}
.prayer-times-result hr{
    font-size: 20px;
    width: 80%;
    margin: 20px;
}